@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-flexbox-wrapper {
    text-align: center;
}

.home-span {
    color: rgb(247, 76, 76);
}

.home-span-title {
    color: rgb(247, 76, 76);
    font-size: 1.3em;
}

.home-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
    font-size: 4em;
    margin: 2vh 0;
}   

h1 {
    font-weight: 700;
}
.home-flexbox-container-1 {
    display: flex;
    flex-direction: row;
}

.home-text-container {
    width: 50%;
    text-align: left;
}

.home-h1{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.2em;
    color: rgb(22, 21, 21);
}

.home-p {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.1em;
    line-height: 2em;
}

.home-logo-container {
    width: 50%;
    height: auto;
    text-align: center;
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: rgb(255, 255, 255);
}
.blood-logo {
    height: 39vh;
    width: auto;
}

@media screen and (max-width: 768px) {
    .home-flexbox-container-1 {
        flex-direction: column;
    }
    .home-text-container {
        padding: 10vh;
        width: 100%;
        text-align: center;
    }
    .home-logo-container {
        width: 100%;
        padding-left: 0vh;
        padding-right: 0vh;
    }
}

.search-form {
    margin: 7vh 0;
}

.search-form input[type=text] {
    border: 2px solid #575757;
    width: 500px;
    margin-right: 20px;
}


.search-form input[type=submit] {
    border: 2px solid rgb(247, 76, 76);
    color: rgb(247, 76, 76);
    background: white;
}

input[type=submit] {
    cursor: pointer;
}
