@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.donor-title {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.donor-wrapper {
    justify-content: center;
    text-align: center;
    padding-bottom: 10vh;
}

.form-group-1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.form-wrapper {
    border-radius: 60px;
    background-color: rgb(233, 230, 230);
    margin-right: 55vh;
    margin-left: 55vh;
}

label {
    font-size: 1.1em;
    padding-bottom: 2vh;
    color: rgb(12, 10, 10);
}

.first {
    padding-top: 10vh;
}

.button {
    padding-bottom: 10vh;
    margin-left: 6vh;
    margin-right: 6vh;
}

input {
    border-radius: 30px;
    padding: 1.1vh;
    border: none;
    font-size: 1.8em;
}

.btn {
    padding: 2vh;
    margin-top: 4vh;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: rgb(12, 10, 10);
    background-color: rgb(67, 255, 192);
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        border-radius: 60px;
        background-color: rgb(233, 230, 230);
        margin-right: 10vh;
        margin-left: 10vh;
    }
}